services:
  v4vapp-backend-v2-base:
    build:
      context: .
      dockerfile: Dockerfile
    image: node-monitor:latest
    volumes:
      # - ./.certs:/app/.certs
      - ./config:/app/config

  umbrel-node-monitor:
    depends_on:
      - v4vapp-backend-v2-base
    image: v4vapp-backend-v2-base:latest
    volumes:
      - ./.certs:/app/.certs
      - ./config:/app/config
      - ./logs_docker/umbrel:/app/logs
    command: ["python", "src/lnd_monitor_v2.py", "--config", "devdocker.config.yaml"]
    restart: unless-stopped
    stop_grace_period: 20s


  hive-monitor:
    depends_on:
      - v4vapp-backend-v2-base
    image: v4vapp-backend-v2-base:latest
    volumes:
      - ./.certs:/app/.certs
      - ./config:/app/config
      - ./logs_docker/hive:/app/logs
    command: [
      "python", "src/hive_monitor_v2.py",
      "--config", "devdocker.config.yaml",
    ]
    restart: unless-stopped
    stop_grace_period: 20s
    networks:
      - v4vapp-backend

  api-v2:
    build:
      context: .
      dockerfile: Dockerfile
    image: v4vapp-backend:latest
    ports:
      - "0.0.0.0:8000:8000"
    volumes:
      - ./config:/app/config
      - ./logs_docker/api:/app/logs
    command: ["python", "src/api_v2.py", "--config", "devdocker.config.yaml"]
    restart: unless-stopped
    stop_grace_period: 20s
    networks:
      - v4vapp-backend
    depends_on:
      - mongo-pytest-local
      - redis-pytest-local
    environment:
      - PYTHONPATH=/app/src

  admin-interface:
    build:
      context: .
      dockerfile: Dockerfile
    image: v4vapp-backend:latest
    ports:
      - "0.0.0.0:8080:8080"
    volumes:
      - ./config:/app/config
      - ./logs_docker/admin:/app/logs
    command: [
      "python", "src/v4vapp_backend_v2/admin/run_admin.py",
      "--host", "0.0.0.0",
      "--port", "8080",
      "--config", "devdocker.config.yaml",
      "--log-level", "debug"
    ]
    restart: unless-stopped
    stop_grace_period: 20s
    networks:
      - v4vapp-backend
    depends_on:
      - mongo-pytest-local
      - redis-pytest-local
    environment:
      - PYTHONPATH=/app/src

  mongo-pytest-local:
    # Huge issues setting this up: Mongodb replica sets require the internal and EXTERNAL names
    # to both be resolvable at the same time. This is a nightmare.
    # That is why it is vital that the port 27017 be used internally in the docker container and
    # externally on the host. This allows the same 127.0.0.1:37017 address to work both within the
    # docker container and externally on the host.
    image: mongo:8.0
    command: >
      bash -c "
        mongod --replSet rsPytest --bind_ip_all --port 37017 &
        until mongosh --port 37017 --eval 'db.runCommand({ ping: 1 })' --quiet; do
          echo 'Waiting for mongod to start...';
          sleep 1;
        done;
        if ! mongosh --port 37017 --eval 'rs.status().ok' --quiet; then
          echo 'Initializing replica set...';
          mongosh --port 37017 --eval 'rs.initiate({
            _id: \"rsPytest\",
            members: [{ _id: 0, host: \"${LOCAL_TAILSCALE_IP}:37017\" }]
          })';
        else
          echo 'Replica set already initialized.';
        fi;
        wait
      "
    ports:
      - "127.0.0.1:37017:37017"
      - "${LOCAL_TAILSCALE_IP}:37017:37017"   # Needed on home-imac
    healthcheck:
      test: ["CMD", "mongosh", "--port", "37017", "--eval", "rs.status().ok"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - v4vapp-backend
    volumes:
      - mongo_data:/data/db
      - mongo_config:/data/configdb
    hostname: mongo-pytest-local
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M

  redis-pytest-local:
    image: redis:latest
    ports:
      - "127.0.0.1:6379:6379"
      - "${LOCAL_TAILSCALE_IP}:6379:6379"   # Needed on home-imac
    healthcheck:  # Check if the container is healthy
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - v4vapp-backend
    restart: unless-stopped
    volumes:
      - redis_data:/data




  voltage-node-monitor:
    depends_on:
      - v4vapp-backend-v2-base
    image: v4vapp-backend-v2-base:latest
    volumes:
      - ./.certs:/app/.certs
      - ./config:/app/config
      - ./logs_docker/voltage:/app/logs
    command: ["python", "src/lnd_monitor_v2.py", "--config", "voltage"]
    restart: unless-stopped
    stop_grace_period: 20s




  # binance-monitor:
  #   depends_on:
  #     - v4vapp-backend-v2-base
  #   image: v4vapp-backend-v2-base:latest
  #   volumes:
  #     - ./config:/app/config
  #     - ./logs_docker/binance:/app/logs
  #   restart: unless-stopped
  #   stop_grace_period: 20s
  #   command: ["python", "src/binance_monitor.py"]


volumes:
  mongo_data:
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/d_vol/mongo_data
      o: bind
  mongo_config:
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/d_vol/mongo_config
      o: bind
  redis_data:
    driver: local

networks:
  repl-mongo_repl-set:
    driver: external
  v4vapp-backend:
    driver: bridge
